.hidden {
    display: none;
}

div.libpub-form-body {
    display: none;
}

div.libpub-form-body.selected {
    display: inherit;
}

div.libpub-form-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

li.libpub-tab {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

li.libpub-tab img {
    height: 30px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5;
}

li.libpub-tab.selected img {
    -webkit-filter: inherit;
    filter: inherit;
    opacity: inherit;
}

img.libpub-verify-icon {
    height: 24px;
    vertical-align: bottom;
}
